<html>
<head>
	<title>Prototipe Website</title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/arifpujin/Exersice1/master/fotoarif.png" type="image/png" />
    <meta property="og:description" content="Prototipe Website">
   <meta property="og:image" content="https://raw.githubusercontent.com/arifpujin/Exersice1/master/fotoarif.png">
   <meta property="og:url" content="{{url('/')}}">
<style>
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}
.shadow {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

.btn:hover {
  background-color: #00c3ff; /* Green */
  color: white;
}
.btn {
    background-color: #008cff;
    border-radius: 12px;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 10px !important;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.heart {
  fill: red;
  position: relative;
  top: 5px;
  width: 15px;
  animation: pulse 1s ease infinite;
}
/* Animation */
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
</style>
</head>
<body>
<!--Hey! This is the original version
of Simple CSS Waves-->

<div class="header">
<div class="inner-header flex">
<h1>Kumpulan Prototipe Website</h1><br>
</div>
<!-- <div>
  <button class="btn shadow" folder="undangan1" onclick="openPath(this)">Undangan 1</button>
  <button class="btn shadow" folder="undangan2" onclick="openPath(this)">Undangan 2</button>
  <button class="btn shadow" folder="undangan3" onclick="openPath(this)">Undangan 3</button>
</div> -->
<!--Waves Container-->
<div>
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
</g>
</svg>
</div>
<!--Waves end-->

</div>
<!--Header ends-->

<!--Content starts-->
<div class="content flex">
<p>&copy; <script>document.write(document.location.host +" " +new Date().getFullYear())</script> || Made with  <svg class="heart" viewBox="0 0 32 29.6">
  <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
	c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
</svg>  by <a style="text-decoration: unset; color: rgba(0,172,193,1);" href="https://arif.app">APN</a></p>
</div>
<!--Content ends-->
</body>
<script>
  console.log(document.URL);
function openPath(clicked_object)
{
  let path = document.URL + clicked_object.getAttribute('folder');
  window.open(path);
  console.log("membuka "+path);
}
</script>
</html>
