body{background-color:#101010;font-family: 'Ubuntu', sans-serif;padding: 25px} a{text-decoration:none;}
body::before{content:"\00A9  linkr.bio/rayyarr";color:white;opacity:.3;font-size:5px;position:absolute;bottom:25px;left:calc(50vw - 30px);}
#bodyblur{display:block;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.3);z-index:-1;transition:all 1s ease;}
@keyframes jj{0%  {opacity:.5} 50% {opacity:.52} 100% {opacity:.5}}
#bodyblur img{animation-name:jj;animation-duration: 3s;animation-iteration-count: infinite;}

@keyframes leaves {0% {transform: scale(1.0);} 100% {transform: scale(.8);}}
#lope, .lopdeg{animation: leaves 1s ease-in-out infinite alternate;-webkit-animation: leaves 1s ease-in-out infinite alternate;}
.lovein:hover{transform: scale(1.3);}

@keyframes kont{0%  {left:-1px; top:0;} 50% {left:1px; top:0px;} 100% {left:-1px; top:0px;}}
blockquote{animation-name:kont;animation-duration: 3s;animation-iteration-count: infinite;position:relative;opacity:.8;margin-left:0;margin-right:0;}
blockquote{width:400px;color:#fff;font-size:15px;font-weight:400;text-align:center;padding:30px 30px 30px 30px;border: 1px dashed #fff;border-radius:18px;}
blockquote p:first-child{font-size:18px;font-weight:700;}

.lovein{font-size:50px;display:flex;align-items:center;justify-content:center;transition:all .3s ease;}
.lovein svg{width:80px;height:80px;fill:#fefefe}

.content2{display:block;text-align:center;width:100%;height:180px;margin-top:50px;}
.content2 > *{display:flex;align-items:center;justify-content:center;margin-top:15px;font-size:17px;color:white}
.image img{border-radius:10%;transition:all .5s ease;}.foto img:first-child{z-index:1}

.content2{display:none;}
#Content{opacity:0;margin-top:50px;width:100%;height:180px;transition:all .3s ease;}
#Content > *{display:flex;align-items:center;justify-content:center;margin-top:15px;font-size:17px;color:white}
#tlink{display:none;color:#FFEE93;transition:all .3s ease;}
#tlink:hover{transform: scale(.7);}

.swal2-title{font-size:18px;text-align:center;padding:15px 30px 0 30px;}
.swal2-modal{background:rgba(255, 255, 255, .99);border: .7px solid #000;border-radius:25px;/*top:-60px;*/}