body{background-color:#101010;font-family: 'Quicksand', sans-serif;padding: 25px} a{text-decoration:none;}
#bodyblur{display:block;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.3);z-index:-1;transition:all 1s ease;-webkit-backdrop-filter:blur(6px); backdrop-filter:blur(6px);}
@keyframes jj{0%  {opacity:.3} 50% {opacity:.36} 100% {opacity:.3}}
#bodyblur img{animation-name:jj;animation-duration: 3s;animation-iteration-count: infinite;}

@keyframes leaves {0% {transform: scale(1.0);} 100% {transform: scale(.8);}}
#lope, #lopdeg{animation: leaves 1s ease-in-out infinite alternate;-webkit-animation: leaves 1s ease-in-out infinite alternate;}
.lovein:hover, .button:hover{transform: scale(.95);}

@keyframes kont{0%  {left:-2px; top:0;} 50% {left:2px; top:0px;} 100% {left:-2px; top:0px;}}
blockquote{animation-name:kont;animation-duration: 3s;animation-iteration-count: infinite;position:relative;opacity:.8;margin-left:0;margin-right:0; padding:30px 25px;}
blockquote{background:rgba(0, 0, 0, .25);color:#fefefe;font-size:16px;padding:30px 25px 30px 45px; border:1px solid #97999A;border-radius:15px} blockquote:before{content:'\201D';display:block; position:absolute;top:18px;left:20px; font-weight:700;font-size:60px; line-height:normal}

.lovein{background-color:#ffffff;width:48px;height:48px;font-size:20px;display:flex;align-items:center;justify-content:center;border-radius:50%;transition:all .1s ease;}
.lovein svg{width:30px;height:30px;fill:#fefefe}

.foto, .content2{display:block;text-align:center;width:100%;height:180px;margin-top:50px;} .foto{margin-top:0;}
.foto > *, .content2 > *{display:flex;align-items:center;justify-content:center;margin-top:15px;font-size:23px;color:white}
.foto img{border-radius:10%;transition:all .5s ease;}.foto img:first-child{z-index:1}

.contTom{margin:0;margin-left:-500%;transition:all .5s ease;display:flex;align-items:left;list-style:none}
.icon{flex-shrink:0; display:inline-block;margin-right:12px; width:18px;height:18px; background-size:cover;background-repeat:no-repeat;background-position:center}
.icon.whatsapp{background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='%23fefefe'><g><path d='M16,2A13,13,0,0,0,8,25.23V29a1,1,0,0,0,.51.87A1,1,0,0,0,9,30a1,1,0,0,0,.51-.14l3.65-2.19A12.64,12.64,0,0,0,16,28,13,13,0,0,0,16,2Zm0,24a11.13,11.13,0,0,1-2.76-.36,1,1,0,0,0-.76.11L10,27.23v-2.5a1,1,0,0,0-.42-.81A11,11,0,1,1,16,26Z'/><path d='M19.86,15.18a1.9,1.9,0,0,0-2.64,0l-.09.09-1.4-1.4.09-.09a1.86,1.86,0,0,0,0-2.64L14.23,9.55a1.9,1.9,0,0,0-2.64,0l-.8.79a3.56,3.56,0,0,0-.5,3.76,10.64,10.64,0,0,0,2.62,4A8.7,8.7,0,0,0,18.56,21a2.92,2.92,0,0,0,2.1-.79l.79-.8a1.86,1.86,0,0,0,0-2.64Zm-.62,3.61c-.57.58-2.78,0-4.92-2.11a8.88,8.88,0,0,1-2.13-3.21c-.26-.79-.25-1.44,0-1.71l.7-.7,1.4,1.4-.7.7a1,1,0,0,0,0,1.41l2.82,2.82a1,1,0,0,0,1.41,0l.7-.7,1.4,1.4Z'/></g></svg>")}
.button{display:inline-flex;align-items:center; margin:0;margin-left:-500%;transition:all .1s ease;padding:10px 15px;outline:0;border:0; border-radius:2px;line-height:20px; color:#fefefe; background-color:#2C57B6; font-size:13px;white-space:nowrap;overflow:hidden;max-width:100%} .button.whatsapp{background-color:#199046}

.swal2-title{font-size:18px;text-align:center;padding:15px 30px 0 30px;}
/*.swal2-container{top:-60px;}*/