body{background-color:#101010;font-family: 'Ubuntu', sans-serif;padding: 25px} a{text-decoration:none;}
body::before{content:"  ";color:white;opacity:.3;font-size:2vw;position:fixed;bottom:25px;left:25px;}
#bodyblur{display:block;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.3);z-index:-1;transition:all 1s ease;}
@keyframes jj{0%  {opacity:.67} 50% {opacity:.6} 100% {opacity:.67}}
#bodyblur img{animation-name:jj;animation-duration: 3s;animation-iteration-count: infinite;}

@keyframes leaves {0% {transform: scale(1.0);} 100% {transform: scale(.8);}}
#lope, .lopdeg{animation: leaves 1s ease-in-out infinite alternate;-webkit-animation: leaves 1s ease-in-out infinite alternate;}
.lovein:hover{transform: scale(1.3);}

@keyframes kont{0%  {left:-1px; top:-3px;} 50% {left:1px; top:3px;} 100% {left:-1px; top:-3px;}}
blockquote, #idakhir, #idakhirdua{position:relative;opacity:.8;margin-left:0;margin-right:0;}
blockquote, #idakhir, #idakhirdua{color:#fff;font-size:14px;font-weight:400;text-shadow: 0px 2px 2px rgba(0, 0, 0, .8);text-align:center;padding:20px 30px 20px 30px;border: 1px dashed #fff;border-radius:8px;transition:all .5s ease;}
blockquote p:last-child, #idakhir{font-size:17px;font-weight:700;}
#idakhir, #idakhirdua{opacity:0;border:0;animation-name:none;animation-duration: 3s;animation-iteration-count: infinite;}

#pergeseran{margin-top:50px;transition:all 1s ease;display:flex;flex-wrap:nowrap;align-items:flex-start;justify-content:flex-start;position:relative;max-width:500px;padding:0 20px; overflow-y:hidden;overflow-x:scroll;scroll-behavior:smooth;scroll-snap-type:x mandatory; -ms-overflow-style:none;-webkit-overflow-scrolling:touch}
#pergeseran p{background:rgba(0, 0, 0, .5);color:white;border: 1px dashed #fff;border-radius:8px;padding:8px;display:flex;flex-wrap:nowrap;text-align:center;font-size:14px;font-weight:700;align-items:center;justify-content:center;flex-shrink:0; width:90%; min-height:100px;margin:0 15px 0 0; scroll-snap-align:center} #pergeseran > *:last-child{margin-right:0} #pergeseran:after{content:'';display:block;flex-shrink:0; align-self:stretch;padding-left:20px}
#tm{color:#FFB400;transition:all .5s ease;} #tm:hover{transform: scale(.7);}

.lovein{font-size:50px;display:flex;align-items:center;justify-content:center;transition:all .3s ease;}
.lovein svg{width:80px;height:80px;fill:#fefefe}

.content2{display:block;text-align:center;width:100%;height:180px;margin-top:50px;}
.content2 > *{display:flex;align-items:center;justify-content:center;margin-top:15px;font-size:17px;color:white}
.image img{opacity:0;transform:scale(.1);border-radius:10%;transition:all 1s ease;} #idmail{margin-top:12vh;background:#fff;padding:10px;width:180px;height:150px;} #idfoto{width:150px;height:150px;}

.content2{display:none;}
#Content{position:relative;opacity:0;margin-top:50px;width:100%;height:180px;transition:all 2s ease;}
#Content > *{display:flex;align-items:center;justify-content:center;margin-top:15px;}
#idgeser, #idkirim{font-size:17px;text-shadow: 0px 2px 2px rgba(0, 0, 0, .8);color:white;transition:all .5s ease;}
#idkirim{opacity:0;visibility:hidden;margin-top:100px} #idkirim:hover{transform:scale(.8);}

.swal2-title{margin-right:20px;margin-left:20px;font-size:22px;text-align:center;padding:15px 30px 0 30px;}
.swal2-modal{background:rgba(255, 255, 255, .99);border: .7px solid #000;border-radius:22px;/*top:-60px;*/}